@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-body font-normal text-base bg-background;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
  h1 {
    @apply text-[40px] sm:text-[50px] lg:text-[75px] leading-none;
  }
  h3 {
    @apply text-[20px] sm:text-[30px] lg:text-[45px] leading-none;
  }
  h4 {
    @apply text-[20px] sm:text-[20px] lg:text-[30px] leading-none;
  }
  .btn {
    @apply h-[50px] bg-accent py-[20px] px-[24px] text-white rounded-[5px] font-body uppercase tracking-[5%] text-base font-medium hover:bg-accent-hover flex items-center justify-center gap-6;
  }
  .input {
    @apply h-[50px] rounded-md max-w-[400px] px-[30px] ring-1 focus:ring-2 transition focus:drop-shadow-2xl text-[16px] font-bold placeholder:text-[16px] placeholder:font-light placeholder:text-primary;
  }
}


/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
